@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary: #2B4F4C;
    --secondary: #4A2929;
    --secondary-alpha70: rgba(77, 41, 41, .7);
    --accent: #4E908A;
    --light-text: #E9F3F2;
    --dark-text: #282B2A;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--light-text);
    background-color: var(--light-text);
    margin: 3rem 5%;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

h3::after {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background: var(--primary);
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: .5em;
}

.logo {
    width: 100px;
    margin: 0 auto;
}
.logo > img {
    display: block;
    width: 100%;
}

img.footer-logo-img {
    width: 50px;
}

nav {
    margin-top: 35px;
    margin-bottom: 30px;
}
nav ul {
    list-style: none;
    text-align: center; 
}

nav li  {
    display: inline-block;
}

nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: var(--dark-text);
    padding: 1em;
}

nav a:hover {
    color: var(--accent);
    transition: all 150ms;
    
}

button {
    font-family: 'Montserrat', sans-serif;
    padding: 5px 10px;
    background: var(--accent);
    border: none;
    color: var(--light-text);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
}

button:hover {
    background: var(--secondary);
}

.hero-promo {
    background-color: var(--primary);
    background-image: url(images/Asset\ 2@3x.png);
    background-position: 0 0;
    background-size: 700px;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2em;
}

.hero-promo > article {
    grid-column: 2 / span 1;
    color: var(--light-text);
}


.hero {
    background: url(images/greenhouse-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}


.call-to-action {
    padding: 3em;
    background: var(--secondary-alpha70);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

section {
    display: flex;
    gap: 1em;
    margin: 1em 0;
}
article {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.article-content {
    padding: 1em;
}

.cards button {
    display: block;
    margin: 0 auto;
}

article img {
    display: block;
    width: 100%;
}

footer {
    padding: 3em;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1em;
    border-top: 4px solid var(--primary);
}

footer > div {
    flex: 1;
}
.footer-site-map {
    flex: 3;
}

.footer-logo {
    display: flex;
    justify-content: end;
}

@media(max-width: 600px){
    section {
        display: block;
    }
}

